<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="https://cdn.iconscout.com/icon/free/png-512/fast-food-1851561-1569286.png" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <title>Nutrify.me</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/app.css">


</head>

<body class="scroll">
  <!-- Navbar -->
  <nav class="nav-bg-dark text-white p-2 fixed-top">
    <div class="container d-flex justify-content-between">
      <a href='/home' class="nav-link">
        <h3><i class="fas fa-hamburger"></i> nutrify.me</h3>
      </a>
      <% if(total<=cal){ %>
        <a class="nav-link mt-2"><h5><i class="fas fa-calculator"></i>&ensp;<%= total%> / <%= cal%></h5>
        </a>
      <% } else { %>
        <a class="nav-link mt-2"><h5><i class="fas fa-calculator"></i>&ensp;<span  class="blinker text-danger"><%= total%></span> / <%= cal%></h5>
        </a>
     <% }%>
      <div class="m-2 d-flex">
        <a href='/home/placeorder/details' class="nav-link"><span class="p-2 font-weight-bold"><i
              class="fas fa-forward"></i> Show Meals</span></a>
        <a class="nav-link"><span class="p-2 font-weight-bold"><i class="fas fa-user"></i>
            <%= name %>
          </span></a>
        <a href='/signout' class="nav-link"><span class="p-2 font-weight-bold"><i class="fas fa-running"></i> Sign
            Out</span></a>
      </div>
    </div>
  </nav>

  <!-- Display -->
  <div class="container-fluid addmeal-img">
    <section class="row justify-content-center align-items-center bg-image">
      <section class="col-12 col-sm-6">
        <form action="/home/placeorder" method="POST" class="border rounded shadow bg-light box">
          <div class="form-group">
            <h4 class="text-center text-black">Add Meal</h4>
          </div>
          <div class="border p-3 rounded bg-white">
            <div class="form-group">
              <label>Meal Name</label>
              <input id="mealname" type="text" class="form-control" name="mealname" placeholder="Meal Name" required>
            </div>
            <div class="form-group">
              <label>Meal Type</label>
              <input type="text" class="form-control" name="mealtype" placeholder="Meal Type" required>
            </div>
            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" name="description" placeholder="Description" required>
            </div>
            <div class="form-group">
              <label>Calories Limit</label>
              <input type="number" class="form-control"  id="calinp" name="calories" placeholder="0" required>
            </div>
          </div>
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Add Meal</button>&ensp;
            <div class="btn btn-primary" id="test"><i class="fas fa-hand-pointer"></i> Fetch Calories</div>
          </div>
        </form>
      </section>
    </section>
  </div>
  <script defer>
    console.log("test")
    const calinp = document.getElementById("calinp")
    var mealname = document.getElementById("mealname")
    const btn = document.getElementById("test")
    btn.addEventListener("click", () => {
      const EndPoint = "https://trackapi.nutritionix.com/v2/natural/nutrients";
      const getCalories = async (name) => {
        const headers = {
          'Content-Type': 'application/json',
          'Accept': 'application/json',
          "x-app-id": "848297ec",
          "x-app-key": "c8db491e80464aed364a0f6cfe2917d2",
        };
        const options = {
          method: 'POST',
          headers: headers,
          body: JSON.stringify({
            query : name
          })
        }
      const res =  await fetch(EndPoint,options)
      const data = await res.json()
      console.log(data.foods[0]["nf_calories"])
      calinp.value = parseInt(data.foods[0]["nf_calories"]);
      } 
      getCalories(mealname.value)
    })
  </script>
</body>

</html>